<!DOCTYPE html>
<html>
<head>
    <title>Landing Editor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/public/css/bootstrap-markdown.min.css">
</head>

<body>
  {{{body}}}
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/boostrap.min.js"></script>
  <script src="/public/js/table.min.js"></script>
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/public/js/bootstrap-markdown.js"></script>
  <script src="/public/js/manager.js"></script>
  <script src="/public/js/script.js"></script>
</body>
</html>
